<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AwesomePQ</title>
    <link rel="stylesheet" href="/static/base.css" />
</head>
<body>

{{if .NeedLogIn}}
<h1>Connect to Database</h1>
<form method="POST">
    <label>Database:</label><br />
    <input type="text" name="dbname"><br />
    <input type="submit" value="Connect!">
</form>
{{else}}
    <div class="tablePane">
        <ul>
            {{range .Tables}}
                <li><a href="/tables/{{.Name}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="dataPane">
        <table>
            <tr>
                {{range .Cols}}
                    <th>{{.Name}}<br />{{.Type}}</th>
                {{end}}
            </tr>
            {{range .Rows}}
                <tr>
                    {{range .Cells}}
                        <td>{{.Data}}</td>
                    {{end}}
                </tr>
            {{end}}
        </table>
        <div class="cmdPane">
            <form method="POST">
                <label>Command: </label><br />
                <textarea name="cmd" rows="6" cols="100" wrap="hard">{{.Cmd}}</textarea><br />
                <input name="query" type="submit" value="Query!">
                <input name="exec" type="submit" value="Exec!">
            </form>
        </div>
        <div class="outputPane">
            <label>Output: </label><br />
            <textarea name="output" rows="6" cols="100" style="white-space: nowrap;">{{range .Outputs}}{{.}}&#13;&#10;{{end}}</textarea>
        </div>
        <div class="historyPane">
            <label>Output: </label><br />
            <textarea name="history" rows="6" cols="100" style="white-space: nowrap;">{{range .History}}{{.}}&#13;&#10;&#13;&#10;{{end}}</textarea>
        </div>
    </div>
{{end}}

</body>
</html>