<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AwesomePQ</title>
    <link rel="stylesheet" href="/static/base.css" />
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Gloria+Hallelujah|Special+Elite" rel="stylesheet">
    <script type="text/javascript" src="/static/util.js"></script>
<body>

{{if .NeedLogIn}}
<div class="loginPane">
    <h1>Connect to Database</h1>
    <form method="POST">
        <label>Database</label><br />
        <input type="text" name="dbname"><br />
        <label>User</label><br />
        <input type="text" name="user"><br />
        <label>Password</label><br />
        <input type="password" name="pw"><br />
        <label>Host</label><br />
        <input type="text" name="host"><br />
        <label>Port</label><br />
        <input type="password" name="port"><br />
        <br />
        <input type="submit" value="Connect!">
    </form>
</div>
{{else}}
    <div class="tablePane">
        <h2>Table Pane</h2>
        <ul>
            {{range .Tables}}
                <li><a href="/tables/{{.Name}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="dataPane", style="overflow-y:scroll;">
        <h2>Data Pane</h2>
        <table id="datatbl">
            <tr id="trColInfo">
                {{range .Cols}}
                    <th>{{.Name}}<br />{{.Type}}</th>
                {{end}}
            </tr>
            {{range .Rows}}
                <tr>
                    {{range .Cells}}
                        <td ondblclick="update(this)">{{.Data}}</td>
                    {{end}}
                </tr>
            {{end}}
        </table>
        <input type="button" value="Insert" onclick="showInsertRow()" />
        <div class="cmdPane">
            <form method="POST">
                <label>Command: </label><br />
                <textarea name="cmd" rows="6" cols="100" wrap="hard">{{.Cmd}}</textarea><br />
                <br />
                <input name="query" type="submit" value="Query!">
                <input name="exec" type="submit" value="Exec!">
            </form>
        </div>
        <br />
        <div class="historyPane">
            <label>History: </label><br />
            <textarea style="background-color: lightgreen" name="history" rows="6" cols="100" style="white-space: nowrap;">{{range .History}}{{.}}&#13;&#10;&#13;&#10;{{end}}</textarea>
        </div>
        <br />
        <div class="outputPane">
            <label>Error Log: </label><br />
            <textarea style="background-color: pink" name="output" rows="6" cols="100" style="white-space: nowrap;">{{range .Outputs}}{{.}}&#13;&#10;{{end}}</textarea>
        </div>
    </div>
{{end}}

</body>
</html>